*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
}
thead td {
  font-size: 14px;
  padding: 10px 15px;
}
tbody td {
  padding: 10px 15px; 
}
.menuDiv {
  width: 15%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;

}
.menu
{
  height: 100%;
  width: 100%;
  background-color: rgb(20, 53, 195);
}
.menu .logo {
  background-color: white;
  height: 75px;
  border-bottom:rgb(20, 53, 195) solid 2px;
}
.menu .option {
  margin-top: 40px;
}
.menu .option li {
  list-style: none;
  padding: 15px 0;
  transition: 0.2s ease;

}
.menu .option li:hover {
  background-color: rgb(200, 140, 205);
  cursor: pointer;
}
.menu .option li i{
  color: rgb(210, 210, 210);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  margin: 0 10px 0 25px;
}
.menu .option li:hover i,
.menu .option li:hover a {
  color: black;
}
.menu .option li a {
  text-decoration: none;
  color: white;
  transition: 0.2s ease;
}

.right_content {
  width: 85%;
  position: relative;
}
.navigation {
  display: flex;
  width: 85%; 
  background-color: white; 
  height: 75px;
  align-items: center;
  justify-content: right;
  border-bottom:rgb(20, 53, 195) solid 2px;
  position: fixed;
  top: 0;
  right: 0;
}

#ProductDisplay {
  display: block;
  align-items: center;
}
.Product {
  width: 100%;
  height: 50px;
  text-align: center;
  margin-top: 120px;
}
.addButton
{
  height: 30px;
  width: 30px;
  margin: auto ;
  color: white;
  background-color: rgb(20, 53, 195);
  border: rgb(0, 0, 0.1) solid 1px;
  border-radius: 100px;
}
.add-edit-board {
  display: flex;
  margin: 10px;
  height: 30px;

  align-items: center;
  justify-content: right;
}
.add-edit-board input {
  margin: 25px;
  height: 30px;
  width: 350px;
}
.board {
  width: 95%;
  margin: 0px 0 30px 30px;
  overflow: auto;
  background-color: white;
  border-radius: 5px;
}

.adminButton {
  height: 25px;
  width: 40px;
  background-color: rgb(20, 53, 195);
  color: white;
}
.adminButton:hover {
  background-color: rgb(200, 140, 205);
  cursor: pointer;
}


#AccountDisplay {
  display: none;
  align-items: center;
}
.Account {
  width: 100%;
  height: 50px;
  text-align: center;
  margin-top: 120px;
}

#SoldDisplay {
  display: none;
  align-items: center;
}
.Sold {
  width: 100%;
  height: 50px;
  text-align: center;
  margin-top: 120px;
}