:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color:rgb(20, 53, 195);
  --border-color: #dbdbdb;

  --header-height: 132px;
  --header-nav: 42px;
  --header-mainNav: calc(var(--header-height) - var(--header-nav))
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.hide{
  display: none;
}

.grid {
  width: 1232px;
  max-width: 100%;
  margin: 0 auto;
}

.gird__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}

@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.btn {
  min-width: 84px;
  height: 34px;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0 12px;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6rem;
  background-color: var(--white-color);
  margin: 0 4px;
}

.btn.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.btn.btn--primary {
  color: var(--white-color);
  background-color: rgb(20, 53, 195);
}

/* grid 4 cột */
.grid__col{
  display: flex;
  flex-direction: row;
}

.grid__col-2 {
  /* Tạo khoảng cách mặc định giữa các col */
  padding-left: 8px;
  padding-right: 8px;
  width: 16.6667%;
}

.grid__col-2-4 {
  /* Tạo khoảng cách mặc định giữa các col */
  padding-left: 8px;
  padding-right: 8px;
  width: 20%;
}

.grid__col-10 {
  /* Tạo khoảng cách mặc định giữa các col */
  padding-left: 8px;
  padding-right: 8px;
  width: 83.3334%;
}

